.movie-container {
    padding: 16px;
    background-color: lightgray;
  }
  
  /* Card styling */
  .movie-card {
    max-width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 48px; /*  Add vertical space between rows */
  }
  
  /* Title inside the card */
  mat-card-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  /* Inside content spacing */
  mat-card-content p {
    margin: 8px 0;
  }
  
  /* Poster image */
  img[mat-card-image] {
    height: 250px;
    object-fit: cover;
  }
